body {
  background-color: #f8f9fa;
}
.sidebar {
  height: 100vh;
  background-color: #fff;
  border-right: 1px solid #dee2e6;
}
.status-active {
  border-radius: 5px;
  color: #1b8159;
  font-weight: bold;
  background-color: #d4f8e5;
}
.status-inactive {
  color: #c73030;
  font-weight: bold;
  border-radius: 5px;
  background-color: #ffebeb;
}
.table td,
.table th {
  vertical-align: middle;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.modal {
  position: absolute;
  height: 60%;
  width: 50%;
  background: white;
  padding: 20px;
  z-index: 101;
  display: none;
  border-radius: 10px;
  top: 30%;
  left: 30%;
}
#close {
  font-size: 16px;
  position: absolute;
  top: 5%;
  left: 90%;
  cursor: pointer;
}
form p {
  color: red;
  font-size: 0.9rem;
  margin: 4px 0 10px;
  display: none;
}

form p.error {
  display: block;
}
.input-error {
  border: 2px solid red;
}
#search-icon {
  position: relative;
  right: 30px;
  top: 5px;
  cursor: pointer;
}
#sort-icon {
  cursor: pointer;
}
